# Core
# numpy 
numpy==1.26.4 
pandas
python-dotenv
pyyaml

# RDKit
rdkit-pypi

# Machine Learning
scikit-learn
xgboost
lightgbm

# Explainability
shap

# API
fastapi
uvicorn
pydantic

# Frontend
streamlit
plotly

# Utilities
joblib
matplotlib
seaborn
requests   